@model FifaStore.Models.Nationality

@{
    ViewBag.Title = "Details";
}

<img src="~/Images/@Model.Flag" alt="@Model.Flag" height="150px" width="216px" />

<div>
    <h4>Narodowość</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Short)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Short)
        </dd>

    </dl>
</div>
<p>
	@if (Context.User.IsInRole("Moderator"))
	{
		@Html.ActionLink("Edytuj", "Edit", new { id = Model.ID })
		@:|
	}
	@Html.ActionLink("Powrót do listy", "Index")
</p>
